<% include ../partials/header.ejs %>
        <div class="panel-body">
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <form method="post">
              Survey name: <input type="text" name="surveyName"><br>
              

              <% for (let count = 0; count < survey.questions.length; count++) { %>
                <br>
                Question <%= count %>: <input type="text" name="q1" value="<%= survey.questions[count].question %>"><br>
                Option 1: <input type="text" name="q1o1" value="<%= survey.questions[count].Options[0] %>"><br>
                Option 2: <input type="text" name="q1o2" value="<%= survey.questions[count].Options[1] %>"><br>
                Option 3: <input type="text" name="q1o3" value="<%= survey.questions[count].Options[2] %>"><br>
                Option 4: <input type="text" name="q1o4" value="<%= survey.questions[count].Options[3] %>"><br>
                
              <% } %>

              Add question
              <input type="submit" name="submitbutton" value="Multiple Choice">
              <input type="submit" name="submitbutton" value="2">
            </form>
          </div>
        </div>
<% include ../partials/footer.ejs %> 