<% include ../partials/header.ejs %>
        <div class="panel-body">
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <form method="get" action="/">
              <%= survey.name %>

              <br>
              Question 1: <%= survey.question1.question %><br>
              <input type="radio" name="q1" value="1"> <%= survey.question1.Option1 %> <br>
              <input type="radio" name="q1" value="2"> <%= survey.question1.Option2 %> <br>
              <input type="radio" name="q1" value="3"> <%= survey.question1.Option3 %> <br>
              <input type="radio" name="q1" value="4"> <%= survey.question1.Option4 %> <br>

              <br>
              Question 2: <%= survey.question2.question %><br>
              <input type="radio" name="q1" value="1"> <%= survey.question2.Option1 %> <br>
              <input type="radio" name="q1" value="2"> <%= survey.question2.Option2 %> <br>
              <input type="radio" name="q1" value="3"> <%= survey.question2.Option3 %> <br>
              <input type="radio" name="q1" value="4"> <%= survey.question2.Option4 %> <br>

              <br>
              Question 3: <%= survey.question3.question %><br>
              <input type="radio" name="q1" value="1"> <%= survey.question3.Option1 %> <br>
              <input type="radio" name="q1" value="2"> <%= survey.question3.Option2 %> <br>
              <input type="radio" name="q1" value="3"> <%= survey.question3.Option3 %> <br>
              <input type="radio" name="q1" value="4"> <%= survey.question3.Option4 %> <br>

              <br>
              Question 4: <%= survey.question4.question %><br>
              <input type="radio" name="q1" value="1"> <%= survey.question4.Option1 %> <br>
              <input type="radio" name="q1" value="2"> <%= survey.question4.Option2 %> <br>
              <input type="radio" name="q1" value="3"> <%= survey.question4.Option3 %> <br>
              <input type="radio" name="q1" value="4"> <%= survey.question4.Option4 %> <br>

              <br>
              Question 5: <%= survey.question5.question %><br>
              <input type="radio" name="q1" value="1"> <%= survey.question5.Option1 %> <br>
              <input type="radio" name="q1" value="2"> <%= survey.question5.Option2 %> <br>
              <input type="radio" name="q1" value="3"> <%= survey.question5.Option3 %> <br>
              <input type="radio" name="q1" value="4"> <%= survey.question5.Option4 %> <br>

              <input type="submit" value="Submit">
            </form>
          </div>
        </div>
<% include ../partials/footer.ejs %> 